/*Setting Global Variables*/
:root {
    --left-nav-to-content-separator: 20%;
    --title-height: 10%;
    --leftNav-font-scale: 110%;
    --undo-leftNav-font-scale: 90.9091%; /* (1/1,10) = 0.909091 */
    --default-font-color: white;
    --default_title_color: gold;
}

/*Setting Main Page Components*/
body {
    background-color: black;
    color: var(--default-font-color);
    font-family: dejavu-sans-mono, monospace;
    font-size: 120%;
    -webkit-font-smoothing: Antialiased;
}

div.topTitle {
    width: 100%;
    height: var(--title-height);
    margin-bottom: 1%;
    text-align: center;
    color: yellow;
    font-family: dejavu-sans-mono-bold, monospace;
}

div.leftNav {
    background-color: #2b303b;
    margin-right: 1%;
    color: var(--default_title_color);
    width: var(--left-nav-to-content-separator);
    height: 100%;
    position: fixed;
    overflow: auto;
    word-wrap: break-word;
    font-size: var(--leftNav-font-scale);
}

div.content {
    margin-left: calc(var(--left-nav-to-content-separator) + 1%);
    margin-right: 1%;
    margin-bottom: 1%;
}

/*Adjusting normal anchor colors*/
div.content a:link {
    color: #ffff00;
}

div.content a:visited {
    color: #7FFF7F;
}

div.content a:active {
    color: #00FFFF;
}

/*Adjusting leftNav anchor colors to title color with no underline in urls*/
div.leftNav a:link, div.leftNav a:visited, div.leftNav a:hover, div.leftNav a:active {
    color: var(--default_title_color);
    text-decoration: none;
}

/*Adjusting Style for the top bookmark which redirects to the top of the page*/
div.leftNav a#top {
    display: block;
    text-align: center;
    font-size: 120%;
}

/*Adding glow effect when hover on leftNav anchor links*/
div.leftNav a:hover {
    text-shadow: 0 0 5px;
}

/*Making headers title colored*/
h1, h2, h3, h4, h5, h6 {
    color: var(--default_title_color);
}

/*Creating li.header which makes all list items typed class "header" as big as leftNav (titled) and having title color*/
div.content li.header {
    color: var(--default_title_color);
    font-size: var(--leftNav-font-scale);
}

/*Creating a *.default_color_size class that applies to all elements inside li.header which allows normal text within the list item header, basically any element inside li.header
will have normal/default font color as well as normal/default font size*/
div.content li.header *.default_color_size {
    color: var(--default-font-color);
    font-size: var(--undo-leftNav-font-scale);
}

/*Table style*/
div.content table.tables, div.content tr.tables, div.content th.tables, div.content td.tables {
    border: 1px solid #2a9292;
    border-collapse: collapse;
    background-color: #002b36;
    font-size: 95%;
}

/*Adding Fonts*/
@font-face {
    font-family: "dejavu-sans-mono";
    src: url("../resources/fonts/dejavu-sans-mono.book.ttf"),
    url("../resources/fonts/dejavu-sans-mono.book.ttf"); /*IE*/
}

@font-face {
    font-family: "dejavu-sans-mono-bold";
    src: url("../resources/fonts/dejavu-sans-mono.bold.ttf"),
    url("../resources/fonts/dejavu-sans-mono.bold.ttf"); /*IE*/
}

@font-face {
    font-family: "dejavu-sans-mono-oblique";
    src: url("../resources/fonts/dejavu-sans-mono.oblique.ttf"),
    url("../resources/fonts/dejavu-sans-mono.oblique.ttf"); /*IE*/
}

@font-face {
    font-family: "dejavu-sans-mono-bold-oblique";
    src: url("../resources/fonts/dejavu-sans-mono.bold-oblique.ttf"),
    url("../resources/fonts/dejavu-sans-mono.bold-oblique.ttf"); /*IE*/
}




